.main {
    width: 100%;
    background-color: #59516E;
    // #588382
    // #070E1B
    // #59516E
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMain {
    padding: 9px 0;
    display: flex;
    gap: 15px;
}

.ulStyle {
    display: flex;
    gap: 35px;
    list-style: none;
    margin-bottom: 0 !important;

    li {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}

.links {
    text-decoration: none;
    color: white;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.activeLink {
    color: #fec544;
}

.hrefstyle {
    font-size: 41px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logoImg {
    width: 70px;
    height: auto;
    max-width: 100%;
}

.mobile {
    display: none;
    color: white;
    font-size: 40px;
}

@media screen and (max-width: 1024px) {
    .ulStyle {
        display: none;
        background-color: #070E1B;
        position: absolute;
        gap: 20px;
        right: 0;
        width: 100%;
        height: auto;
        top: 79px;
        text-align: center;
        flex-direction: column;
        padding: 20px 0px 20px 0px;
        transition: 0.3s ease-in-out;
    }

    .mobile {
        display: block;
    }
}

.opens {
    display: flex;
}