.homeImg {
    display: flex;
    // background-image: url("../../../../public/pexels-photo-540518.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.textDiv{
    margin-top: 70px;
    margin-bottom: 150px;
}

.helloIm {
    color: #fec544;
    font-size: 30px;
    font-weight: 300;
}

.edward {
    color: #fdfeff;
    font-size: 120px;
    font-weight: 900;
    line-height: 115px;
}

.visual {
    font-size: 36px;
    margin-bottom: 41px;
    font-weight: 300;
    color: #a9adb8;
}

.btnHire {
    background-color: #fec544;
    color: #070d1b;
    border-radius: 50px;
    font-weight: 500;
    border: none;
    padding: 12px 3.5em;
    font-size: 16px;
}

.hero {
    will-change: transform;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    max-width: 400px;
    max-height: 400px;
}