.skillsme {
    margin-top: 50px;
    text-align: -webkit-center;
    padding-bottom: 50px;
}
.skilltxt {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fec544;
    letter-spacing: 1px;
}
.lineDIv {
    width: 168px;
    height: 1px;
    border: 1px solid #3F4551;
}